# SonarQube local environment variables

# Use a strong password for the admin user (default initial password is 'admin')
SONAR_NEW_ADMIN_PASSWORD=admin

# Token name used to generate a new token (optional). The value created will appear in logs.
SONAR_TOKEN_NAME=sqb_5fb3186779c925f4e35a5d55ca03e0822485e30f

# PostgreSQL password used by Sonar (same as for the main app)
POSTGRES_PASSWORD=postgres123
