# SonarQube local environment variables

# Use a strong password for the admin user (default initial password is 'admin')
SONAR_NEW_ADMIN_PASSWORD=admin

# Token name used to generate a new token (optional). The value created will appear in logs.
SONAR_TOKEN_NAME=sqp_d088e80f56f556d10536ff6d7f6fcc6da24b0d7d

# PostgreSQL password used by Sonar (same as for the main app)
POSTGRES_PASSWORD=postgres123
